{
  "plugins": [
    [
      "babel-plugin-transform-imports",
      {
        "@material-ui/core": {
          "transform": "@material-ui/core/${member}",
          "preventFullImport": true
        },
        "@material-ui/core/styles": {
          "transform": "@material-ui/core/styles/${member}",
          "preventFullImport": true
        },
        "@material-ui/lab": {
          "transform": "@material-ui/lab/${member}",
          "preventFullImport": true
        },
        "@material-ui/icons": {
          "transform": "@material-ui/icons/${member}",
          "preventFullImport": true
        },
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        },
        "date-fns": {
          "transform": "date-fns/${member}",
          "preventFullImport": true
        },
        "validator": {
          "transform": "validator/lib/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
